<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="samiamharris.estitooth">

    <!-- required to scan for and connect to Estimote Beacons via Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- required to access Estimote Cloud -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".EstiToothApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".EnteredBakingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GatherIngredientsActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".CookieDoughActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".RoosterActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

    </application>

</manifest>
